h1 {
    font-size: 80px;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

.paciente {
    font-family: Lucida Sans;
    font-size: 30px;
}
nav a {
    color: rgb(37, 12, 12);
}
body {
    color: dark(19, 14, 7, 0.575);
    background-color: rgb(201, 222, 235);
    color: hsl(24, 77%, 15%);
}
.video {
    width: 885px;
    height: 500px;
    margin-left: 250px;
}

p {
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.imagem {
    background-image: url("../img/coracao-dercilio.webp");
    background-size: 100%;
    background-repeat: no-repeat;

    height: 300px;
    width: 500px;

    border-style: solid;
    border-width: 20px;
    border-color: rgba(202, 78, 78, 0.555);
    border-radius: 30px;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 30px;

    outline-width: 50px;
    outline-style: double;
    outline-color: rgb(63, 10, 10);

    margin: auto;
    margin-top: 50px;
}
.fundo {
    background-image: url("img/coracao-dercilio.webp");
    background-size: cover;
    opacity: 0.3;
    width: 1500;
    size: 1500;
}

footer {
    text-align: center;
    color: black;
}

#carouselExampleCaptions {
    max-width: 100%;
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
}

.carousel-inner img {
    display: block;
    margin: 0 auto;
    max-height: 768px; /* Define a altura máxima desejada */
    width: auto; /* Permite que a largura se ajuste automaticamente */
}

.contato {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: rgb(201, 222, 235);
    }

    form {
        width: 300px; 
        padding: 20px;
        border: 2px solid #000000;
        border-radius: 8px;
        box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
        background-color: rgb(89, 154, 194);
    }

    input,
    textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        box-sizing: border-box;
        
    }

    button {
        background-color: #9db9ec;
        color: rgb(5, 0, 0);
        padding: 10px 15px;
        border: 1px solid #000000;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(213, 224, 214);
    }
  

}